.data-val-NoValido {
	background-color:lightcoral;
	color:white;
}

.data-val-mensaje::before {
	position:absolute;
	left:-10px;
	top:1px;
	width:0;
	height:0;
	border-style:solid;
	border-width:8px;
	border-left-width:0;
	border-color:transparent red transparent transparent;
	content:" ";
}

.data-val-mensaje {
	color:red;
	font-size: small;
	height:8px;
	position:relative;
	left:10px;
	margin-right:10px;
}